<footer class="footer mt-auto py-3 bg-primary text-white animate-fade-in">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center text-md-start">
        <span>&copy; <%= Time.current.year %> devBlogs. All rights reserved.</span>
        </br>
        <span> created by sohail abbas warraich.</span>
      </div>
      <div class="col-md-6 text-center text-md-end">
        <ul class="list-inline mb-0">
          <li class="list-inline-item"><a href="#" class="text-white animate-hover-lift">Privacy Policy</a></li>
          <li class="list-inline-item"><a href="#" class="text-white animate-hover-lift">Terms of Service</a></li>
          <li class="list-inline-item"><%= link_to 'About', about_path, class: 'text-white animate-hover-lift' %></li>
        </ul>
      </div>
    </div>
  </div>
</footer> 